<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dieto</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="..\static\vendor\aos\aos.css" rel="stylesheet">
  <link href="..\static\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="..\static\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="..\static\vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="..\static\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="..\static\vendor\remixicon\remixicon.css" rel="stylesheet">
  <link href="..\static\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- <a href="index.html" class="logo me-auto"><img src="" alt="" class="img-fluid"></a> -->
      <h1><a href="index.html"><span style="font-style:italic;font-size:80px;color:#565656">D</span>eito</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQs</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
          <form action="{{ url_for('views.new_page') }}" method="POST">
            <button class="nav-link scrollto" type="submit" style="color:#303030;font-size:25px;">Sign In</button>
          </form>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1 style="color:bisque">Nourish Your Goals, Empower Your Journey</h1>
          <h2 style="color:grey">Personalized nutrition platform that helps users track meals, set goals, and receive expert dietitian advice. </h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <form action="{{ url_for('views.new_page') }}" method="POST">
              <button class="btn-get-started scrollto" type="submit">Get started</button>
            </form>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="fade-up" data-aos-delay="100">
          <div class="image-container">
          <img src="https://media.istockphoto.com/id/1408934219/vector/mindful-eating-concept.jpg?s=612x612&w=0&k=20&c=6a550hyz1Q-jhdGb42mgJvVFxc9M8AoB_Il0-07Tn0E=" class="img-fluid animated" style="width:600px;height:500px;" alt="">
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="font-size:40px;color:#ffff">About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-12">
            <p>
              Dieto is your ultimate companion for personalized nutrition and wellness. Tailored to help you achieve your health goals—be it weight management, muscle building, or balanced living—Dieto offers expert-backed meal plans, real-time tracking, and actionable insights. With intuitive tools for logging meals, monitoring progress, and receiving personalized guidance from professional dietitians, Dieto empowers you to make informed choices and embark on a transformative journey to a healthier, happier you.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>features </li>
              <li><i class="ri-check-double-line"></i> site features</li>
              <li><i class="ri-check-double-line"></i> features</li>
            </ul>
          </div>
          <div class="col-lg-12 pt-4 pt-lg-0">
            <p>
              Dieto is a personalized nutrition platform that helps users track meals, set goals, and get expert dietary advice, empowering them to achieve optimal health and wellness.
             </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">
          <div class="justify-content-center align-items-stretch">
            <div class="content">
              <h3>Why Wait? <br>Start Your Transformation Today</h3>
              <p>
                Join us today and begin your transformative journey to a healthier, more confident you.
                Experience weight transformation like never before, with personalized diet planning and expert guidance.
                Let’s redefine your health and wellness, one confident step at a time.
                
                
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>Personalized Diet Planning<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Say goodbye to one-size-fits-all diets! Our experts create customized meal plans designed specifically for your body type, preferences, and health goals. Achieve sustainable results with balanced nutrition that fits seamlessly into your lifestyle.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Streamlined Meal Tracking<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Track your daily meals effortlessly with our intuitive platform. Monitor your calorie intake, macronutrients, and portion sizes, ensuring you're always on track to meet your goals without the stress of complex planning.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>  Achieve, Maintain, Sustain <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Reach your target weight and stay there! Our long-term weight maintenance strategies and progress tracking tools help you maintain your results, ensuring that healthy habits become a lasting part of your life.


                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color:#ffff;font-size:40px">Services</h2>
          <p style="color:#ffff;font-size:25px;">Our platform provides personalized nutrition plans, easy meal tracking, and healthy recipes tailored to your goals. We offer auto-generated grocery lists, progress tracking, and expert consultations to keep you on track. You can also integrate fitness recommendations, monitor hydration and sleep, and get personalized supplement advice. Plus, you'll have access to a supportive community, making your weight management journey simple and effective.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Personalized Diet Plans</a></h4>
              <p>Embark on a journey of health and wellness with personalized diet plans crafted by top nutrition specialists. Whether it's achieving your ideal weight or maintaining a balanced lifestyle, our experts are here to guide you every step of the way.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Streamlined Meal Plans</a></h4>
              <p>Simplify your diet with our AI-powered "Meal Planning To-Do List" – your daily roadmap to balanced nutrition and effective weight management. No more guesswork or complicated diets – just a clear, personalized plan to meet your goals.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Track Your Progress</a></h4>
              <p> Watch your transformation unfold with intuitive progress tracking tools, including weight monitoring, meal logging, and expert feedback to keep you on track.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Curated Food Recommendations</a></h4>
              <p>Discover the best foods and supplements handpicked for you, based on your dietary profile and expert guidance, to support your health and weight maintenance journey.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Ready to Achieve Your Health and Weight Goals?</h3>
            <p> Sign up now to start your personalized diet and weight transformation journey. Get tailored meal plans, discover curated food recommendations, track your progress, and connect with a community of like-minded health enthusiasts. Your ideal body and healthy lifestyle are just a click away – join us today and take control of your wellness!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <form action="{{ url_for('views.new_page') }}" method="POST">
            <button class="cta-btn align-middle" type="submit">Sign-Up</button>
          </form>
          </div>
        </div>
      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color:#ffff;">Team</h2>
          </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>What is personalized diet planning, and how does it work?</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is personalized diet planning, and how does it work? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Personalized diet planning involves creating a customized meal plan tailored to your specific needs, preferences, and health goals, ensuring you receive the nutrition necessary for your journey.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How do I know which diet plan is right for me? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The right diet plan aligns with your health objectives, lifestyle, and dietary preferences. Consulting with a nutrition specialist can help assess your needs and recommend an appropriate plan.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Can I still enjoy my favorite foods while trying to lose weight? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes! A balanced diet can include your favorite foods in moderation. Our meal plans focus on making healthy choices while allowing for occasional treats to maintain enjoyment.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How can I track my progress effectively? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  You can track your progress using our tools for weight logging, meal tracking, and visual comparisons through photos. Regular check-ins with our experts can also help keep you accountable.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">What role does exercise play in weight maintenance, and how can I incorporate it into my routine?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Exercise is crucial for burning calories and building muscle, contributing to overall health. We provide fitness recommendations that complement your diet plan and fit your lifestyle for better weight maintenance.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
         
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>MA College of engineering kothamangalam </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="Glowsite\forms\contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Dieto</h3>
            <p>
              Ma College of engineering  <br>
              kothamangalam,686666<br>
              kerala <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Dieto</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
    
      </div>
    </div>
  </footer><!-- End Footer -->
 
  <!-- <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</div>

</body>

</html>